[Unit]
Description=A service which launches the backup script for this machine
After=network.target
OnFailure=status-email@%n.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup

[Install]
WantedBy=default.target