[Unit]
Description=A service which launches the backup script for this machine
After=network.target

[Service]
Type=oneshot
ExecStart="%h/bin/backup"

[Install]
WantedBy=default.target